<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >

    <head>
        <title>Cover Letter Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <h1>Cover Letter Generator</h1>
        <br><br>
        <a href="./manageSkills">Manage Skills</a> | <a href="./homePage">Home Page</a>
        <h2>GENERATE</h2>
        <h3 th:text="${message}"></h3>

        <p th:text="${coverLetter.open}"></p>
        <p th:text="${coverLetter.intro}"></p>
        <p th:text="${coverLetter.hardSkills}"></p>
        <p th:text="${coverLetter.softSkills}"></p>
        <p th:text="${coverLetter.yours}"></p>
        <p th:text="${coverLetter.signOff}"></p>


    </body>

</html>