<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >

    <head>
        <title>Cover Letter Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <h1>Cover Letter Generator</h1>
        </header>
        <header class="subheading">
            <h3>Log In or Sign Up</h3>
        </header>

        <div class="main-content">
            <a href="./logIn"><button>Log In</button></a><br>
            <a href="./signUp"><button>Sign Up</button></a>
        </div>


    </body>

</html>