<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.org" >

    <head>
        <title>Cover Letter Generator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>
        <h1>Cover Letter Generator</h1>
        <br><br>
        <a href="./logIn">Log In</a><br>
        <h3 th:text="${message}"></h3>
        <form method="post" action="#" th:action="@{./signedUp}" th:object="${newUser}">
            Username: <input type="text" name="username"><br><br>
            Password: <input type="password" name="password"><br><br>
            First name: <input type="text" name="firstName"><br><br>
            Last name: <input type="text" name="lastName"><br><br>
            <input type="submit" value="Sign Up">
        </form>


    </body>

</html>